<div class="page playback_page" data-page="asset.playback">
	<div class="navbar bg-white color-black">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="back link color-black"> <i class="f7-icons">arrow_left</i></a>
            </div>
            <div class="left navbar_title navbar_title_long">{{Name}}</div>
           
        </div>
    </div>
    
	<div class="toolbar tabbar bg-white color-black bw_top_shadow">
	    <div class="toolbar-inner">
	        <a href="#" class=" tab-link" data-id="asset.status" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</b></span>
	        </a>
            <a href="#" class="tab-link" data-id="asset.alarm" data-href="">
                <span class="tabbar-label"><b>{{@global.LANGUAGE.ALARM_MSG01}}</b></span>
            </a>
	        <a href="#" class="tab-link active" data-id="asset.playback" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</b></span>
	        </a>
	        <a href="#" class="tab-link" data-id="asset.track" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</b></span>
	        </a>
	        
	    </div>
	</div>

    <div class="page-content">

        <div class="content-block-title">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG00}}</div>
        <div class="content-block">
            <div style="padding:0; margin-right:-15px; width:auto;" class="content-block-inner">
                <div style="margin:0; visibility: hidden;" class="list-block">
                    <ul style="border-top:none">
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Date Time" readonly name="picker-date-start" id="picker-date-start" class="picker-date-start">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: -52px;" id="picker-date-start-container" class="picker-date-start-container"></div>
            </div>
        </div>
        <div class="content-block-title">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG01}}</div>
        <div class="content-block">
            <div style="padding:0; margin-right:-15px; width:auto;" class="content-block-inner">
                <div style="margin:0; visibility: hidden;" class="list-block">
                    <ul style="border-top:none">
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Date Time" readonly name="picker-date-end" id="picker-date-end" class="picker-date-end">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: -52px;" id="picker-date-end-container" class="picker-date-end-container"></div>
            </div>
        </div>

    	<div class="content-block">
            <a href="#" class="button button-fill button-big bw_btn_show">{{@global.LANGUAGE.COM_MSG12}}</a>
            <a href="#" class="button button-fill button-big bw_btn_show_24h">{{@global.LANGUAGE.COM_MSG13}}</a>
        </div>
            
    	

    </div>
</div>